.ui-datepicker {
    @include box();
    background: #fff; /* Old browsers */
    font-size: 12px;
    padding: 5px;
    top: 489px!important;
    
    table {
        
        td {
            text-align:center;
            a {
                color: #fff;
                width: 25px;
                padding: 5px 0;
                display: block;
                margin: 1px;
                border-radius: 1px;
                background: $blue;
                color: #fff;
            }
            
            &.ui-state-disabled {
                
                span {
                    color: #fff;
                    width: 25px;
                    padding: 5px 0;
                    display: block;
                    margin: 1px;
                    border-radius: 1px;
                    background: #f9f9f9;
                    color: #999;
                    font-style: italic;
                }
            }
        }
        
        th {
            width: 25px;
            padding: 5px 0;
            text-align: center;
        }
    }
    
    a {
        cursor:pointer;
        text-decoration:none;
    }
    
    .ui-datepicker-prev {
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 14px;
        width: 14px;
        height: 14px;
        
        span {
            display: none;
        }
    }
    .ui-datepicker-next {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 14px;
        width: 14px;
        height: 14px;
        
        span {
            display: none;
        }
    }
    
    .ui-datepicker-title {
        text-align: center;
        font-weight:bold;
    }
}


 

 
