span.required {
    display: none;
}
.errorMessage {
    color: $red;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 8px;
}
.errorSummary {
    background: $red;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
    
    p {
        font-size: 16px;
        margin: 0 0 5px 0;
    }
}
.login-form {
    @include box;
    width: 400px;
    margin: 60px auto 0 auto;
    padding: 0;
    position: relative;
    
    h2 {
        background: #404040;
        padding: 20px 40px;
        color: #fff;
        border-radius: 2px 2px 0 0;
    }
    
    .inner-form-wrap {
        padding: 0 0 80px 0;
        
        
        .input {
            border-bottom: 1px solid #eee;
            
            label {
                display: block;
                font-size: 12px;
                margin: 10px 20px 0 20px;
            }
        }
        
        .remember-me {
            font-size: 12px;
            padding: 10px;
            background: $grey;
            width: 157px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            border-radius: 2px;
        }
        
        .btn {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        
        input[type="text"],
        input[type="password"] {
          width: 360px;
          border: 0;
          padding: 10px 20px;
        }
    }
    
    
}

.user-form {
    h1 {
        padding: 5px 20px;
    }
  
    h2 {
        padding: 5px 0;
        color: #000;
    }
    
    .input {
        @include box;
        padding: 0;
        margin: 10px 0;
        position: relative;
        
        label {
           padding: 10px 20px 0 20px; 
           font-size: 12px;
           display: block;
           text-transform: uppercase;
           color: #999;
        }
        input, 
        textarea {
            padding: 4px 20px 10px 20px;
            width: 480px;
            border: 0;
            color: #202020;
            font-size: 20px;
        }
        textarea {
            height: 120px;
            font-size: 18px;
        }
        
        &.dropdown {
            label {
                padding-bottom: 5px;
            }
            select {
                background: transparent;
                width: 100%;
                border: 0;
                border-radius: 0;
                -webkit-appearance: none;
                padding: 10px 20px;
                border-top: 1px solid #ddd;
                
            }
            .arrow {
                position: absolute;
                right: 15px;
                bottom: 10px;
                @include css-triangle('down', 8px, #ddd);
            }
        }
    }
    
    .textarea {
        
    }

    .status {
        background: $red;
        color: #fff;
        position: relative;
        padding: 20px;
        margin: 10px 0;
        border-radius: 2px;
        cursor: pointer;
        @include transition(background 0.2s ease);
          
        .icon {
            position: absolute;
            top: 21px;
            font-size: 16px;
            right: 20px;
            height: 16px;
            width: 16px;
            color: #fff;
        }
        
        .label {
            
        }
        
        .on {
            display: none;
            .icon {
                display: block;
            }
            .true {
                display: block;
            }
            .false {
                display: none;
            }
        }
        
        .off {
            display: block;
            .icon {
                display: none;
            }
            .true {
                display: none;
            }
        }
        
        &.published {
            color: #fff;
            background: $green;
            @include transition(background 0.2s ease);
            
            .label {
              
            }
            
            .on {
                display: none;
                .icon {
                    color: #fff;
                }
                .true {
                    display: none;
                }
                .false {
                    display: block;
                }
            }
            
            .off {
                display: block;
                
                .icon {
                    color: #fff;
                    display: block;
                }
                .true {
                    display: block;
                }
                .false {
                    display: none;
                }
            }
        }
        
        &.ready:hover {
            background: $green;
            @include transition(background 0.2s ease);
            &.published {
                background: $red;
                color: #fff;
            }
            .on {
                display: block;
            }
            .off {
                display: none;
            }
        }
    }
}

.expandingText {
    margin: 10px 0;
}
