span.required {
    display: none;
}
.errorMessage {
    color: #fff;
    background: $red;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 4px 0 0 0;
}
.errorSummary {
    background: $red;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
}
.login-form {
    @include box;
    width: 400px;
    margin: 60px auto 0 auto;
    padding: 0;
    position: relative;
    
    h2 {
        background: #404040;
        padding: 20px 40px;
        color: #fff;
        border-radius: 2px 2px 0 0;
    }
    
    .inner-form-wrap {
        padding: 0 0 80px 0;
        
        
        .input {
            border-bottom: 1px solid #eee;
            
            label {
                display: block;
                font-size: 12px;
                margin: 10px 20px 0 20px;
            }
        }
        
        .remember-me {
            font-size: 12px;
            padding: 10px;
            background: $grey;
            width: 157px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            border-radius: 2px;
        }
        
        .btn {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        
        input[type="text"],
        input[type="password"] {
          width: 360px;
          border: 0;
          padding: 10px 20px;
        }
    }
    
    
}

.user-form {
    h1 {
        padding: 5px 20px;
    }
  
    h2 {
        padding: 5px 0;
        color: #000;
    }
    .category-list {
        @include box;
        margin: 10px 0;
        padding: 0;
        height: 200px;
        overflow-y: scroll;
    }
    .check-list-item {
        font-size: 16px;
        display: block;
        color: #999;
        
        &.selected {
            color: #fff;
            background: $green;
        }
        label {
            padding: 10px 15px;
            border-bottom: 1px solid #ddd;
            display: block;
        }
        input {
            display: none;
        }
    }
    #new-category-wrap {
        input {
            border: 0;
            @include box;
            padding: 10px;
            width: 240px;
            margin: 0 0 4px 0;
        }
    }
    a.new-category {
        font-size: 14px;
        padding: 8px;
        border-radius: 1px;
        border: 1px solid #ddd;
        background: #fff;
        color: #999;
        width: 14px;
        height: 14px;
    }
  
    .input {
        @include box;
        padding: 0;
        margin: 10px 0;
        
        label {
           padding: 10px 20px 0 20px; 
           font-size: 14px;
           display: block;
           text-transform: uppercase;
           color: #999;
        }
        input {
            padding: 4px 20px 10px 20px;
            width: 499px;
            border: 0;
            color: #202020;
            font-size: 24px;
        }
    }
    
    .textarea {
        
    }

	.status {
        float: left;
        width: 300px;
        position: relative;

        .label {
            position: absolute;
            left: 0;
            top: 0;
        }
        .toggle-btn {
            position: absolute;
            left: 100px;
            top: 0;
            width: 62px;
            border-radius: 2px;
            overflow: hidden;
        }
        .inner {
            background: $red;
            position: relative;
            width: 88px;
            height: 36px;
            border-radius: 2px;
            left: -26px;
            
            .on {
                position: absolute;
                left: 7px;
                top: 7px;
                font-size: 14px;
                color: #fff;
                
            }
            .handle {
                position: absolute;
                top: 2px;
                left: 28px;
                border-radius: 2px;
                width: 32px;
                height: 32px;
                background: #fff;
                display: block;
            }
            .off {
                position: absolute;
                left: 64px;
                top: 7px;
                font-size: 14px;
                color: #fff;
            }
        }
        
        &.published {
            .inner {
                background: $green;
                left: 0px;
            }
        }
        
    }
    
}
