a {
    text-decoration: none;
    color: #333;
}
::-webkit-input-placeholder {
   color: #e5e5e5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e5e5e5; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e5e5e5;  
}

:-ms-input-placeholder {  
   color: #e5e5e5;  
}
h1 {
    font-size: 24px;
    margin: 20px 0 0 50px;
}
.clb {
    clear: both;
}
a {
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: right;
}
.btn {
    border-radius: 2px;
    padding: 8px 20px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: #eee;
    @include single-transition(background, 0.3s, ease);
    
    &.save {
        background: $green;
        color: #fff;
        border-color: $darkgreen;
        
        &:hover {
            background: $darkgreen;
        }
        
        &.disabled {
            background: $grey;
            color: #999;
        }
    }
    
    &.cancel {
        color: #333;
        background: transparent;
        border-color: transparent;
        font-size: 12px;
    }
    
    &:hover {
        @include single-transition(background, 0.3s, ease);
    }
}

