/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ icons */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon, .ui-icon, .ui-datepicker-prev, .ui-datepicker-next {
    font-family: 'icomoon';
    speak: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 2px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 12px;
    line-height: 1;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
}
.icon-home:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e601";
}
.icon-image:before {
  content: "\e602";
}
.icon-images:before {
  content: "\e603";
}
.icon-file:before {
  content: "\e604";
}
.icon-screen:before {
  content: "\e605";
}
.icon-bubbles:before {
  content: "\e606";
}
.icon-user:before {
  content: "\e607";
}
.icon-users:before {
  content: "\e608";
}
.icon-search:before {
  content: "\e609";
}
.icon-expand:before {
  content: "\e60a";
}
.icon-wrench:before {
  content: "\e60b";
}
.icon-cog:before {
  content: "\e60c";
}
.icon-remove:before {
  content: "\e60d";
}
.icon-attachment:before {
  content: "\e60e";
}
.icon-eye:before {
  content: "\e60f";
}
.icon-eye-blocked:before {
  content: "\e610";
}
.icon-star:before {
  content: "\e611";
}
.icon-warning:before {
  content: "\e612";
}
.icon-notification:before {
  content: "\e613";
}
.icon-info:before {
  content: "\e614";
}
.icon-info2:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e616";
}
.icon-checkmark:before {
  content: "\e617";
}
.icon-minus:before {
  content: "\e618";
}
.icon-plus:before {
  content: "\e619";
}
.icon-arrow-right:before {
  content: "\e61a";
}
.icon-arrow-right2:before {
  content: "\e61b";
}
.icon-code:before {
  content: "\e61c";
}
.icon-arrow-left:before {
  content: "\e61d";
}
.icon-arrow-right3:before {
  content: "\e61e";
}
.icon-arrow-left2:before, .ui-datepicker-prev:before {
  content: "\e61f";
}
.icon-arrow-right4:before, .ui-datepicker-next:before {
  content: "\e620";
}
.icon-arrow-left3:before {
  content: "\e621";
}
.icon-arrow-right5:before {
  content: "\e622";
}
