/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ editor */
.content-body {
    width: 860px;
    position: relative;
    left: 0px;
    margin-left: 200px;
    padding-top: 0;
    
    .editor-form {
      
        input[type="text"] {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
        textarea.expanding {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
    } 
    .byline {
        font-size: 11px;
        color: #999;
        height: 30px;
        background: #fff;
    }
    
    .header-image-wrap {
        width: 758px;
        height: 345px;
        text-align: center;
        position: relative;
        
        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .row.buttons {
        position: fixed;
        bottom: 0;
        left: 200px;
        width: 760px;
        height: 37px;
        padding: 8px 50px;
        background: #fff;
        border-top: 2px solid #ddd;
        z-index: 3px;

        .save-wrap {
            float: right;
        }
    }
    
    .editor-nav {
        height: 40px;
        width: 860px;
        background: #F2F2F2;
        position: fixed;
        top: 0;
        left: 200px;
        z-index: 1000;
        
        span {
           padding: 12px 20px 12px 17px;
           height: 16px;
           font-size: 12px;
           display: block;
           float: left;
           cursor: pointer;
           border-right: 3px solid #f2f2f2;
           font-weight: bold;
           color: #666;
           
           &:hover {
              color: #333;
           }
           
           &.active {
              background: #fff;
              border-right: 3px solid #ddd;
           }
        }
    }
    
    .editor {
        padding-top: 60px;
        
        &.page-content {
            padding: 60px 50px 20px 50px;
            background: #fff;
        }
        
        &.page-info {
            display: none;
            padding-bottom: 80px;
            
            &.show {
                display: block;
            }
            
            .left-col {
                width: 559px;
                float: left;
                padding-left: 20px;
                
            }
            .right-col {
                width: 260px;
                float: right;
            }
        }
    }
}



