/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ editor */
.update.page .content-body {
    padding-top: 40px;
}
.content-body {
    width: 860px;
    position: relative;
    left: 0px;
    margin-left: 200px;
    
    .editor-form {
      
        input[type="text"] {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
        textarea.expanding {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
    } 
    .byline {
        font-size: 11px;
        color: #999;
        height: 30px;
        background: #fff;
    }
    
    .header-image-wrap {
        width: 758px;
        height: 345px;
        text-align: center;
        position: relative;
        
        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
        .icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 14px;
            width: 14px;
            height: 14px;
            z-index: 2000;
            color: #666;
            padding: 12px;
            border-radius: 2px;
            background: #fff;
            opacity: 0.7;
            cursor: pointer;
            @include transition(opacity 0.2s ease);
            
            &:hover {
                opacity: 1;
                @include transition(opacity 0.2s ease);
            }
        }
        
        &.empty-image {
            img {
                display: none;
            }
            .icon {
                display: none;
            }
        }
    }
    
    .row.buttons {
        position: fixed;
        bottom: 0;
        left: 200px;
        width: 760px;
        height: 37px;
        padding: 8px 50px;
        background: #fff;
        border-top: 2px solid #ddd;
        z-index: 10000;
        
        .save-wrap {
            float: right;
        }
    }
    
    .editor-header {
        height: 60px;
        top: 0;
        position: fixed;
        width: 860px;
        left: 200px;
        background: #fff;
        margin-bottom: 20px;
        z-index: 10000;
        border-bottom: 2px solid $grey;
        
        .save-status {
            width: 240px;
            right: 62px;
            color: #000;
            border-radius: 2px;
            font-size: 12px;
            text-align: center;
            padding: 12px 0;
            top: 10px;
            background: $yellow;
            cursor: pointer;
            position: absolute;
            font-weight: bold;
            z-index: 10000;
    
            .saved {
                display: block;
                
                em {
                    font-weight: normal;
                }
            }
            .unsaved {
                display: none;
            }
            
            &.unsaved {
                background: $red;
                color: #fff;
                
                .saved {
                    display: none;
                }
                .unsaved {
                    display: block;
                }
            }
            
            &:hover {
                background: $darkyellow;
            }
        }
        
        .published-status {
            position: absolute;
            right: 10px;
            top: 9px;
            cursor: pointer;
            background: $grey;
            color: #ccc;
            border-radius: 2px;
            @include transition(background 0.2s ease);
            
            .icon {
                border-radius: 2px;
                display: block;
                padding: 12px;
                height: 18px;
                width: 18px;
                font-size: 18px;
                font-weight: bold;
                float: left;
                @include transition(color 0.2s ease);
                display: none;
            }
            
            &.published {
                background: $green;
                @include transition(background 0.2s ease);
                
                .icon.published {
                    display: block;
                    color: #fff;
                    @include transition(color 0.2s ease);
                }
            }
            
            &.unpublished {
                .icon.unpublished {
                    display: block;
                }
            }
            
            &:hover {
                &.published {
                    background: $grey;
                    @include transition(background 0.2s ease);
                    
                    .icon.published {
                        display: none;
                    }
                    .icon.unpublished {
                        display: block;
                    }
                }
                
                &.unpublished {
                    background: $green;
                    @include transition(background 0.2s ease);
                    
                    .icon.unpublished {
                        display: none;
                    }
                    .icon.published {
                        display: block;
                        color: #fff;
                        @include transition(color 0.2s ease);
                    }
                }
            }
        }
        
        .buttons {
            position: absolute;
            top: 9px;
            left: 50px;
            
            .icon {
                border-radius: 2px;
                background: $grey;
                padding: 12px;
                height: 18px;
                width: 18px;
                font-size: 18px;
                color: #ccc;
                font-weight: bold;
                float: left;
                margin: 0 10px 0 0;
                @include transition(color 0.2s ease);
                
                &.icon-screen {
                    background: $lightred;
                    color: #fff;
                    @include transition(background 0.2s ease);
                    
                    &:hover {
                        background: $red;
                        color: #fff;
                        @include transition(background 0.2s ease);
                    }
                }
                
                &:hover {
                    color: #999;
                    @include transition(color 0.2s ease);
                }
                
                &.active {
                    background: $blue;
                    color: #fff;
                }
            }
            
            .separator {
                height: 42px;
                width: 1px;
                background: #eee;
                margin: 0 10px 0 0;
                float: left;
            }
            
        } 
    }
    
    .version-list {
        @include box();
        padding: 0 0 10px 0;
        font-size: 11px;
        margin: 50px 0 20px 50px;
        font-weight: normal;
        display: none;         
        position: relative;
        
        h2 {
            font-size: 16px;
            padding-left: 15px;
            color: #ccc;
            color: #333;
            border-radius: 2px 2px 0 0;
            margin-bottom: 10px;
            background: #333;
            color: #fff;
            padding: 10px 15px;
        }
        
        .icon {
            position: absolute;
            right: 15px;
            top: 14px;
            cursor: pointer;
            color: #999;
            
            &:hover {
                color: #fff;
            }
        }
        
        a.version {
            padding: 6px;
            font-weight: normal;
            border-radius: 2px;
            float: left;
            margin: 3px 10px;
            width: 169px;
            color: #999;
            cursor: pointer;
            display: block;
            @include transition(background 0.2s ease);
            position: relative;
            
            i {
                display: block;
                font-weight: bold;
                color: #666;
            }
            
            .icon {
                position: absolute;
                right: 6px;
                top: 6px;
                color: #000;
                display: none;
            }
            
            &:hover {
                i {
                    color: #000;
                }
            }
            
            &.active {
                background: $yellow;
                
                i {
                    color: #000;
                }
                
                .icon {
                    display: block;
                }
            }
            
            &.published {
                i {
                    color: #000;
                }
              
                background: $green;
                color: #fff;
            }
            
        }
    }
    
    .editor {
        padding-top: 60px;
        
        &.page-content {
            padding: 50px 50px 20px 50px;
            background: #fff;
            position: relative;
            top: 0;
            @include transition(top 0.2s ease);
        }
        
        &.page-info {
            padding: 60px 0 0 0;
            width: 860px;
            display: none;
            
            &.show {
                display: block;
            }
            
            .left-col {
                width: 520px;
                float: left;
                padding-left: 50px;
                
            }
            .right-col {
                width: 260px;
                float: right;
            }
        }
        
        &.create-page {
            padding-top: 20px;
            margin: 0 10px 0 50px;
            
            .row.buttons {
                position: relative;
                bottom: auto;
                background: none;
                left: auto;
                border: 0;
                width: auto;
                padding: 0;
                margin: 20px 0;
            }
        }
    }  
}

.white-bg {
    position: absolute;
    height: 100%;
    background: #fff;
    width: 860px;
    left: 0;
}

.info-buttons {
    height: 38px;
    padding: 10px;
    
    .btn {
        float: right;
    }
}

