/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ editor */
.content-body {
    width: 860px;
    position: relative;
    left: 0px;
    margin-left: 200px;
    padding-top: 0;
    
    .editor-form {
      
        input[type="text"] {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
        textarea.expanding {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
    } 
    .byline {
        font-size: 11px;
        color: #999;
        height: 30px;
        background: #fff;
    }
    
    .header-image-wrap {
        width: 758px;
        height: 345px;
        text-align: center;
        position: relative;
        
        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .row.buttons {
        position: fixed;
        bottom: 0;
        left: 200px;
        width: 760px;
        height: 37px;
        padding: 8px 50px;
        background: #fff;
        border-top: 2px solid #ddd;
        z-index: 10000;

        .save-wrap {
            float: right;
        }
    }
    
    .save-status {
        @include notification();
        left: 547px;
        padding: 12px 10px;
        top: 24px;
        background: $yellow;
        cursor: pointer;
        position: absolute;

        .saved {
            display: block;
            
            em {
                font-weight: normal;
            }
        }
        .unsaved {
            display: none;
        }
        
        &.unsaved {
            background: $red;
            color: #fff;
            
            .saved {
                display: none;
            }
            .unsaved {
                display: block;
            }
        }
        
        &:hover {
            background: $darkyellow;
        }
        
    }
    
    .editor {
        padding-top: 60px;
        
        &.page-content {
            padding: 90px 50px 20px 50px;
            background: #fff;
            position: relative;
        }
        
        &.page-info {
            padding: 10px 0 0 0;
            background: #f2f2f2;
            
            &.show {
                display: block;
            }
            
            .left-col {
                width: 530px;
                float: left;
                padding-left: 40px;
                
            }
            .right-col {
                width: 260px;
                float: right;
            }
        }
        
        &.create-page {
            padding-top: 20px;
            margin: 0 10px 0 50px;
            
            .row.buttons {
                position: relative;
                bottom: auto;
                background: none;
                left: auto;
                border: 0;
                width: auto;
                padding: 0;
                margin: 20px 0;
            }
        }
    }
}

.white-bg {
    position: fixed;
    height: 100%;
    background: #fff;
    width: 860px;
    left: 200px;
}

.info-buttons {
    height: 38px;
    padding: 10px;
    border-bottom: 3px solid $blue;
    
    .btn {
        float: right;
    }
}

