/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ editor */
.content-body {
    width: 860px;
    position: relative;
    left: 0px;
    margin-left: 200px;
    padding-top: 0;
    
    .editor-form {
      
        input[type="text"] {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
        textarea.expanding {
            font-size: 38px;
            border: 0;
            font-weight: bold;
            width: 100%;
            padding: 10px 0;
        }
    } 
    .byline {
        font-size: 11px;
        color: #999;
        height: 30px;
        background: #fff;
    }
    
    .header-image-wrap {
        width: 758px;
        height: 345px;
        text-align: center;
        position: relative;
        
        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .row.buttons {
        position: fixed;
        bottom: 0;
        left: 200px;
        width: 760px;
        height: 37px;
        padding: 8px 50px;
        background: #fff;
        border-top: 2px solid #ddd;
        z-index: 10000;

        .save-wrap {
            float: right;
        }
    }
    
    .editor-nav {
        height: 50px;
        width: 760px;
        background: rgba(255,255,255,0.95);
        position: fixed;
        top: 0;
        left: 240px;
        z-index: 1000;
        padding: 10px 50px 0 10px;
        
        span {
           padding: 12px 20px 12px 17px;
           height: 16px;
           border-radius: 2px;
           font-size: 12px;
           display: block;
           float: left;
           cursor: pointer;
           color: #666;
           background: $grey;
           margin-right: 10px;
           
           &:hover {
              color: #333;
           }
           
           &.active {
              background: $blue;
              color: #fff;
           }
        }
        
        .save-status {
            @include notification();
            padding: 12px 10px;
            background: $yellow;
            cursor: pointer;

            .saved {
                display: block;
                
                em {
                    font-weight: normal;
                }
            }
            .unsaved {
                display: none;
            }
            
            &.unsaved {
                background: $red;
                color: #fff;
                
                .saved {
                    display: none;
                }
                .unsaved {
                    display: block;
                }
            }
            
            &.page-info {
                display: none;
            }
            
            &:hover {
                background: $darkyellow;
            }
            
        }
    }
    
    .editor {
        padding-top: 60px;
        
        &.page-content {
            padding: 90px 50px 20px 50px;
            background: #fff;
        }
        
        &.page-info {
            display: none;
            padding-bottom: 80px;
            padding-top: 80px;
            
            &.show {
                display: block;
            }
            
            .left-col {
                width: 530px;
                float: left;
                padding-left: 40px;
                
            }
            .right-col {
                width: 260px;
                float: right;
            }
        }
        
        &.create-page {
            padding-top: 20px;
            margin: 0 10px 0 50px;
            
            .row.buttons {
                position: relative;
                bottom: auto;
                background: none;
                left: auto;
                border: 0;
                width: auto;
                padding: 0;
                margin: 20px 0;
            }
        }
    }
}



