/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+scss+ruby */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 9, ../../sass/modules/prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 31, ../../sass/modules/prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 37, ../../sass/modules/prism.scss */
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 44, ../../sass/modules/prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 50, ../../sass/modules/prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 57, ../../sass/modules/prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
/* line 62, ../../sass/modules/prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 70, ../../sass/modules/prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 74, ../../sass/modules/prism.scss */
.token.punctuation {
  color: #999;
}

/* line 78, ../../sass/modules/prism.scss */
.namespace {
  opacity: .7;
}

/* line 87, ../../sass/modules/prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

/* line 94, ../../sass/modules/prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

/* line 103, ../../sass/modules/prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 110, ../../sass/modules/prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 116, ../../sass/modules/prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 120, ../../sass/modules/prism.scss */
.token.important {
  font-weight: bold;
}

/* line 124, ../../sass/modules/prism.scss */
.token.entity {
  cursor: help;
}
