#simplemodal-overlay {
        background-color:#000;
    }
    
    #simplemodal-container {
        
    }
    .modal-wrapper {
        display: none;
        width: 460px;
        border-radius: 4px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0 0 6px #333;
    }

        .modal-wrapper h1 {
            background: #eee;
            text-align: left;
            color: #333;
            padding: 15px 20px 10px 20px;
            margin: 0;
            border-bottom: 1px dotted #ccc;
            font-size: 1em;
            text-shadow: 1px 1px 0 #fff;
            border-radius: 4px 4px 0 0;
        }
        .modal-wrapper .inner {
            padding: 20px;
        }
        .modal-wrapper .row.buttons {
            padding: 0;
            border-top: 0;
        }
        .modal-wrapper .modal-close {
            float: right;
            font-size: 0.8em;
        }
        .modal-wrapper .cancel-add-image {
            float: left;
            font-size: 0.8em;
        }

.toggle-item {
    display: none;
}
.toggle-item.first {
    display: block;
}
.modal-wrapper .explain {
    clear: both;
    padding: 0 10px;
    color: #333;
    font-style: italic;
    font-size: 0.8em;
    margin: 0 0 10px 0;
    line-height: 1.7em;
}
.modal-wrapper .cancel {
    padding: 10px 20px;
    margin: 0;
    border-top: 1px dotted #dfdfdf;
    font-size: 1em;
    color: #333;
    border-radius: 0 0 4px 4px;
}
.modal-wrapper input.btn {
    margin-bottom: 0;
}

/*nav*/
.toggle-box {
    position: absolute;
    top: 15px;
    right: 20px
}
.toggle-box a,
.toggle-box span {
    float: left;
    font-size: 0.8em;
    margin: 0;
}
.toggle-btn {
    padding: 8px 12px;
    margin-left: 10px;
    border-color: #ccc;
    color: #666;
    border-radius: 3px 3px 0 0;
}
.toggle-btn.active {
    padding: 7px 11px 8px 11px;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #000;
    background: #fff;
    cursor: default;
}



/*image modal*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ gallery images */

.modal-wrapper.image {
    width: 900px;
}

.add-image-wrap {
    display: none;
}
.gallery-admin-wrap {
    padding: 10px;
    height: 360px;
    overflow-y: auto;
}
a.gallery-image-item {
    display: block;
    margin: 10px;
    border-radius: 2px;
    vertical-align: bottom;
    float: left;
    width: 200px;
    position: relative;
    height: 160px;
}
.gallery-image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 160px;
}
.gallery-image-item .info {
    position: absolute;
    padding: 5px;
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    width: 190px;
    display: none;
}
.gallery-image-item h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 0.9em;
    margin: 4px 0;
}

.gallery-image-item:hover .info {
    display: block;
}

.modal-wrapper.new-image {
    width: 800px;
    position: relative;
}
.modal-wrapper.new-image .inner {
    min-height: 333px;
}

.modal-wrapper.new-image .row.buttons {
    position: absolute;
    bottom: 55px;
    right: 20px;
}
.modal-wrapper.new-image .row.buttons .btn {
    margin-left: 50px;
}
.modal-wrapper.new-image .row.buttons .status {
    padding: 9px 12px;
}
