#simplemodal-overlay {
        background-color:#000;
    }
    
    #simplemodal-container {
        
    }
    .modal-wrapper {
        display: none;
        width: 460px;
        border-radius: 4px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0 0 6px #333;
    }

        .modal-wrapper h1 {
            background: #f9f9f9;
            text-align: center;
            padding: 20px;
            margin: 0;
            border-bottom: 1px dotted #dfdfdf;
            font-size: 1em;
            color: #333;
            border-radius: 4px 4px 0 0;
        }
        .modal-wrapper .inner {
            padding: 20px;
        }
        .modal-wrapper .row.buttons {
            padding-top: 0;
            border-top: 0;
        }
        .modal-wrapper .modal-close {
            float: right;
            font-size: 0.8em;
        }
