.article-wrap {
    margin: 0 0 0 280px;
    max-width: 100%;
    min-width: 300px;
    position: relative;
    background: #fff;
    z-index: 300;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .editor-content {
        padding: 20px 40px;
        margin: 0 auto;
        border-radius: 3px 3px 0 0;
        width: 800px;
        margin-top: -40px;
        background: #fff;
        position: relative;
        color: #343434;
        
        .date {
            font-size: 12px;
        }
  
        h1 {
            font-size: 40px;
            margin: 0 0 40px 0;
        }
    }
    
    .article-footer {
        margin: 60px 0;
        border-top: 1px solid #dadada;
        padding: 60px 0 0 0;
        width: 800px;
        margin: 60px auto;
        font-size: 14px;
        color: $c3; 
        
        .text {
            float: left;
            
            span {
                color: #999;
            }
        }
        
        .socials {
            float: right;
            
            .icon {
                width: 18px;
                height: 18px;
                font-size: 18px;
                margin-left: 6px;
            }
        }
    }
    
    &.no-image {
        .editor-content {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width : 1160px){
    .article-wrap {
        margin: 0 0 0 100px;
    }
}

@media only screen and (max-width : 970px){
  .article-wrap {

      .editor-content {
            margin-top: 0;
            width: auto;
            background: transparent;
            
            p {
                font-size: 16px;
            }
      
            h1 {
                font-size: 30px;
            }
        }
        
        .article-footer {
            width: auto;
            margin: 30px 40px;
        }
    }
}
