.article-wrap {
    margin: 100px auto;
    width: 800px;

    img {
        width: 800px;
        height: 400px;
        display: block;
        background: #f9f9f9;
        border-radius: 2px;
        border: 0;
    }
    .editor-content {
        padding: 40px 0 80px 0;
        margin: 0 auto;
        border-radius: 3px 3px 0 0;
        width: 800px;
        background: #fff;
        position: relative;
        color: #343434;
        
        img {
            width: 800px;
            display: block;
            background: #f9f9f9;
            height: auto;
            border-radius: 2px;
            border: 0;
        }
        
        .date {
            font-size: 12px;
        }
  
        h1 {
            font-size: 40px;
            margin: 0 0 40px 0;
        }
        
        ul li,
        ol li {
            list-style: disc;
            margin: 10px 10px 10px 40px;
            font-size: 17px;
        }
        
        a {
            color: #000;
            text-decoration: underline;
            &:hover {
                color: $blue; 
            }
        }

		b, strong {
			font-weight: bold;
		}
    }
    
    &.no-image {
        .editor-content {
            margin-top: 40px;
        }
    }
    
    .article-footer {
        width: 800px;
        margin: 0 auto;
        a.back-home {
            display: block;
            background: #dadada;
            width: 65px;
            border-radius: 2px;
            height: 28px;
            padding: 5px;
            @include transition(background 0.2s ease);
            
            .icon {
                font-size: 26px;
                width: 26px;
                height: 26px;
                color: #fff;
                float: left;
                
                
                &.icon-home {
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                }
            }
            
            &:hover {
                background: $blue;
                @include transition(background 0.2s ease);
            }
        }
    }
}

@media only screen and (max-width : 1160px){
    .article-wrap {
        margin: 80px 0 0 0;
        width: 100%;
        
        img {
          width: 100%;
          border-radius: 0;
          height: auto;
        }
        
        .editor-content {
            margin-top: -40px;
            padding: 20px 40px;
            
            img {
              width: 100%;
              border-radius: 0;
            }
            
            .date {
                font-size: 12px;
            }
      
            h1 {
                font-size: 40px;
                margin: 0 0 40px 0;
            }
        }
    }
}

@media only screen and (max-width : 895px){
    .article-wrap {
        
        .editor-content {
            width: auto;
            margin: 0;
            padding: 20px;
            
            h1 {
                font-size: 28px;
            }
        }
        
        .article-footer {
            width: auto;
            padding: 40px 20px;
            margin: 0;
        }
    }
}
