h1, h2, h3 {
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    color: $c1;
}
p {
    line-height: 30px;
    font-size: 18px;
    color: $c2;
    margin: 20px 0;
}
a { 
    text-decoration: none;
    color: $c2; 
    @include transition(color 0.2s ease);
    
    &:hover {
        color: $linkhover;
        @include transition(color 0.2s ease);
    }
}
.clb {
    clear: both;
}
body {
    background: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-top: 100px;
}

.wrap {
    
}

#loader {
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100000; 
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 79px;
    z-index: 1000;
    width: 100%;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid #f2f2f2;
    
    .inner {
        width: 800px;
        margin: 0 auto;
        position: relative;
       
        .ben {
            position: absolute;
            left: 0;
            top: 20px;
            color: #fff;
            background: $c1;
            display: block;
            padding: 10px 0 10px 35px;
            font-family: 'Asap', sans-serif;
            font-size: 14px;
            border-radius: 2px;
            -webkit-font-smoothing: antialiased;
            z-index: 20;
            
            a {
                color: #fff;
                z-index: 11;
                position: relative;
                padding: 10px;
                background: $c1;
                border-radius: 0 2px 2px 0;
            }
            
            span {
                cursor: pointer;
                color: #fff;
                position: absolute;
                left: 0;
                top: 0;
                background: $blue;
                padding: 12px;
                -webkit-border-radius: 2px;
                   -moz-border-radius: 2px;
                        border-radius: 2px;
                font-size: 14px;
                z-index: 11;
                
                &.icon-arrow-down { display: none; }
            }
            
            .categories {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                border-radius: 2px;
                display: none;
                
                li {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #ddd;
                    width: 142px;
                    display: block;
                    padding: 10px;
                    font-family: 'Asap', sans-serif;
                    font-size: 14px;
                    -webkit-font-smoothing: antialiased;
                    cursor: pointer;
                    -webkit-border-radius: 2px;
                       -moz-border-radius: 2px;
                            border-radius: 2px;
                    background: $c1;
                    @include transition(background 0.2s ease);
                    
                    &:hover{
                        background: #333;
                        @include transition(background 0.2s ease);
                    } 
                    &.active {
                        background: $blue;
                        @include transition(background 0.2s ease);
                    }
                }
            }
            
            //dropdown
            &:hover {
                -webkit-border-radius: 2px 2px 0 0;
                   -moz-border-radius: 2px 2px 0 0;
                        border-radius: 2px 2px 0 0;
                
                span.icon-arrow-down { display: block; }
                span.icon-arrow-right { display: none; }
                
                span {
                    -webkit-border-radius: 2px 0 0 0;
                       -moz-border-radius: 2px 0 0 0;
                           border-radius: 2px 0 0 0;
                    
                }
                
                .categories li {
                    border-radius: 0;
                    
                    &:last-child {
                        border-radius: 0 0 2px 2px;
                    }
                }
            }
            
            
        }
        
        .socials {
            position: absolute;
            right: 0;
            top: 26px;
            
            a {
                font-size: 27px;
                height: 27px;
                width: 27px;
                color: #dadada;
                
                &:hover {
                    color: $linkhover;
                }
            }
        }
    }
}

body.open-article {
    margin: 0;
}

#search {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    font-size: 40px;
    color: $c3;
    height: 39px;
    border: 0;
    padding: 20px 0;
    text-align: center;
    background: transparent;
}
body.searching #search {
    display: block;
}

@media only screen and (max-width : 880px){
    .site-header {
        
        .inner {
            width: 100%;
           
            .ben {
                left: 20px;
            }
            
            .socials {
                right: 20px;
            }
        }
    }
}