h1, h2, h3 {
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    color: $c1;
}
p {
    line-height: 30px;
    font-size: 18px;
    color: $c2;
    margin: 20px 0;
}
a { 
    text-decoration: none;
    color: $c2; 
    @include transition(color 0.2s ease);
    
    &:hover {
        color: $linkhover;
        @include transition(color 0.2s ease);
    }
}
.clb {
    clear: both;
}
body {
    background: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-top: 100px;
}

.wrap {
    
}

#loader {
    background: #000;
    position: fixed;
    left: 280px;
    top: 20px; 
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 79px;
    z-index: 1000;
    width: 100%;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    
    .inner {
        width: 800px;
        margin: 0 auto;
        position: relative;
       
        .ben {
            position: absolute;
            left: 0;
            top: 20px;
            color: #fff;
            background: $c3;
            display: block;
            padding: 10px;
            font-family: 'Asap', sans-serif;
            font-size: 14px;
            border-radius: 2px;
            -webkit-font-smoothing: antialiased;
        }
        
        .socials {
            position: absolute;
            right: 0;
            top: 26px;
            
            a {
                font-size: 27px;
                height: 27px;
                width: 27px;
                color: #dadada;
                
                &:hover {
                    color: $linkhover;
                }
            }
        }
    }
}

body.open-article {
    margin: 0;
}

#search {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    font-size: 40px;
    color: $c3;
    height: 39px;
    border: 0;
    padding: 20px 0;
    text-align: center;
    background: transparent;
}
body.searching #search {
    display: block;
}


@media only screen and (max-width : 880px){
    .site-header {
        
        .inner {
            width: 100%;
           
            .ben {
                left: 20px;
            }
            
            .socials {
                right: 20px;
            }
        }
    }
}